body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 1600px;
}

.header {
  background-color: white;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

.nav {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: inline-flex;
}
.nav a {
  text-decoration: none;
  padding-left: 15%;
}

.btn a {
  padding-left: 1%;
  padding-right: 1%;
}
.LogoN {
  font-size: 26px;
  padding-top: 29px;
  padding-bottom: 25px;
}
.header a {
  text-decoration: none;
}

.Web {
  color: #2196f3;
}
.Studio {
  color: black;
  margin-left: -8px;
}
.kontakt {
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: inline-flex;
  margin-left: 424px;
}

.main {
  background-color: #ffffff;
}
.banner {
  text-align: center;
  height: 600px;
  background-image: url("../images/Img.jpg");

  display: flex;
}
.icon-Lorem {
  background: #f5f4fa;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 4px;
}

.banner h1 {
  color: #ffffff;
  font-size: 44px;
  letter-spacing: 0.06em;
  margin-top: 15%;
}
.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  justify-content: center;
  transform: translateX(700px);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 2.5%;
}
.team h2 {
  text-align: center;
  margin-bottom: 5%;

  font-size: 36px;
}
.Job {
  color: #757575;
}
.img2 {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  margin-left: 15px;
  align-items: center;

  display: block;
}
.img2 p {
  text-align: center;
}
.Lorem-ipsum {
  padding-top: 94px;
  justify-content: center;
}
.Loremtxt {
  display: inline-block;
  width: 270px;
  margin-left: 30px;
}
.Loremtxt p {
  color: #757575;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 14px;
}
.Working {
  padding-top: 94px;
  padding-bottom: 94px;
}
.Working h2 {
  text-align: center;

  font-size: 36px;
}
.img1 {
  display: inline-block;
  padding: 1.5%;
}

.filters {
  display: block;
  margin-left: 300px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.filters a {
  text-decoration: none;
  color: black;
  background-color: #f5f4fa;
  font-weight: 500;
  padding: 8px;
  margin-left: 2%;
  border-radius: 5px;
}
.filters a:hover {
  color: white;
  background-color: blue;
}

.projects {
  padding-bottom: 5%;
}
.contitle ul {
  list-style-type: none;
}
.contitle a {
  text-decoration: none;
}
.title {
  color: #212121;
  font-size: 18px;
  font-weight: 900;
}
.subtitle {
  font-size: 16px;
  color: #757575;
}
.project {
  display: inline-block;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1%;
}

.footer {
  background-color: #2f303a;
  flex-direction: column-reverse;
}
.footer h4 {
  margin-top: 72px;
  color: white;
  text-align: center;
}
.footer a {
  text-decoration: none;
}
.LogoF {
  font-size: 26px;
  padding-top: 60px;

  position: absolute;
}
.Web {
  color: #2196f3;
}

.Studio-f {
  color: white;
  margin-left: -8px;
}
.address {
  margin-top: 111px;
}
.address a {
  padding-top: 9px;
}
.address a:hover {
  color: blue;
}
.maps {
  display: block;
  color: white;
}
.txtadress {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}
.wrapper {
  width: 100%;
  background-color: #f5f4fa;
}
.icon-team {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.svg-container {
  display: flex;
  justify-content: center;
}
.client h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}
.client {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  display: block;
}
.icon-client {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
}
.icon-footers {
  margin-left: 70px;

  margin-bottom: 100px;
}
.icon-footer {
  margin-right: 5px;
  margin-left: 5px;
}

.container-banner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h2-team {
  display: block;
}
.icon {
  margin-left: 12px;
  margin-right: 12px;
  fill: blue;
}
.icon:hover {
  fill: rgb(12, 12, 12);
}
