body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 1600px;
}

.header {
  background-color: white;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

.nav {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: inline-flex;
}
.nav a {
  text-decoration: none;
  padding: 2%;
}
.nav a:hover {
  color: blue;
}
.btn a {
  padding-left: 1%;
  padding-right: 1%;
}
.LogoN {
  font-size: 26px;
  padding-top: 29px;
  padding-bottom: 25px;
}
.header a {
  text-decoration: none;
  color: black;
}

.Web {
  color: blue;
}
.Studio {
  color: black;
  margin-left: -10px;
}
.kontakt {
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: inline-flex;
  margin-left: 424px;
}
.kontakt a {
  text-decoration: none;
  color: black;
  padding-left: 6px;
  padding-right: 6px;
}
.kontakt a:hover {
  color: blue;
}

.main {
  background-color: #ffffff;
}
.banner {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
}
.banner h1 {
  color: #ffffff;
  position: relative;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 237px;
  top: 150px;
}
.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-top: 10px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  text-align: center;
  padding-top: 186px;
}
.team h2 {
  text-align: center;
  margin-left: 500px;
  position: absolute;
  top: 1700px;
  font-size: 36px;
}
.Job {
  color: #757575;
}
.img2 {
  display: inline-block;
  margin-left: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.Lorem-ipsum {
  padding-top: 5%;
  justify-content: center;
}
.Loremtxt {
  display: inline-block;
  width: 270px;
}
.Loremtxt p {
  color: #757575;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 14px;
}
.Working {
  padding-top: 194px;
  padding-bottom: 94px;
}
.Working h2 {
  position: absolute;
  text-align: center;
  top: 1099px;
  margin-left: 430px;
  font-size: 36px;
}
.img1 {
  display: inline-block;
  padding: 1.5%;
}

.filters {
  display: block;
  margin-left: 300px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.filters a {
  text-decoration: none;
  color: black;
  background-color: #f5f4fa;
  font-weight: 500;
  padding: 8px;
  margin-left: 2%;
  border-radius: 5px;
}
.filters a:hover {
  color: white;
  background-color: blue;
}

.projects {
  padding-bottom: 5%;
}
.contitle ul {
  list-style-type: none;
}
.contitle a {
  text-decoration: none;
}
.title {
  color: #212121;
  font-size: 18px;
  font-weight: 900;
}
.subtitle {
  font-size: 16px;
  color: #757575;
}
.project {
  display: inline-block;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1%;
}

.footer {
  background-color: #2f303a;
  flex-direction: column-reverse;
}
.footer a {
  text-decoration: none;
}
.LogoF {
  font-size: 26px;
  padding-top: 60px;
  padding-bottom: 15%;
  margin-bottom: 20px;
}
.Web {
  color: blue;
}

.Studio-f {
  color: white;
}
.address {
  margin-top: 111px;
  padding-bottom: 60px;
  position: absolute;
}
.address a {
  padding-top: 9px;
}
.address a:hover {
  color: blue;
}
.maps {
  display: block;
  color: white;
}
.txtadress {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}
.wrapper {
  width: 100%;
  background-color: #f5f4fa;
}
.icon-team {
  margin: 5%;
}
.client h2 {
  position: absolute;
  font-size: 36px;
  margin-bottom: 20%;
}
.client {
  align-items: center;
  justify-content: center;
  padding-top: 280px;
  padding-bottom: 180px;
}
.icon-client {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}
