body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 1600px;
}

.header {
  background-color: white;
  display: inline-flex;
  border-bottom: 1px solid #eeeeee;
}

.nav {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 261px;
  align-items: center;
}
.nav a {
  text-decoration: none;
  padding: 2%;
}
.nav a:hover {
  color: blue;
}
.btn a {
  padding-left: 1%;
  padding-right: 1%;
}
.LogoN {
  justify-content: flex-start;
  align-items: center;
  font-size: 26px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 215px;
}
.header a {
  text-decoration: none;
  color: black;
}

.Web {
  color: blue;
}
.Studio {
  color: black;
}
.kontakt {
  display: inline-flex;
  justify-content: flex-end;
  padding-top: 32px;
  padding-bottom: 2%;
  margin-left: 422px;
  width: 420px;
  align-items: stretch;
}
.kontakt a {
  text-decoration: none;
  color: black;
  padding-left: 8%;
}
.kontakt a:hover {
  color: blue;
}

.main {
  background-color: #ffffff;
}
.banner {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
}
.banner h1 {
  color: #ffffff;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
  margin-top: 8%;
  text-align: center;
}
.team h2 {
  text-align: center;
  padding-top: 80px;
}
.Job {
  color: #757575;
}
.img2 {
  display: inline-block;
  padding: 1%;
  margin-left: 1%;
}
.Lorem-ipsum {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 12%;
}
.Loremtxt {
  display: inline-block;
  width: 20%;
  margin: auto;
  padding: 1.5%;
}
.Loremtxt p {
  color: #757575;
}
.Working {
  text-align: center;
  margin-top: 8%;
}
.img1 {
  display: inline-block;
  padding: 1.5%;
}

.filters {
  display: block;
  margin-left: 300px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.filters a {
  text-decoration: none;
  color: black;
  background-color: #f5f4fa;
  font-weight: 500;
  padding: 8px;
  margin-left: 2%;
  border-radius: 5px;
}
.filters a:hover {
  color: white;
  background-color: blue;
}

.projects {
  padding-bottom: 5%;
}
.contitle ul {
  list-style-type: none;
}
.contitle a {
  text-decoration: none;
}
.title {
  color: #212121;
  font-size: 18px;
  font-weight: 900;
}
.subtitle {
  font-size: 16px;
  color: #757575;
}
.project {
  display: inline-block;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1%;
}

.footer {
  width: 100%;
  background-color: #2f303a;
  display: inline-block;
}
.footer a {
  text-decoration: none;
}
.LogoF {
  display: inline-block;
  font-size: 26px;
  margin-left: 215px;
  margin-top: 5%;
}
.Web {
  color: blue;
}

.Studio-f {
  color: white;
}
.address {
  margin-left: 215px;
  margin-top: 2%;
  margin-bottom: 60px;
}
.address a {
  padding: 9px;
}
.address a:hover {
  color: blue;
}
.maps {
  display: block;
  color: white;
}
.txtadress {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
