.about-us {
  padding-top: 94px;
  justify-content: center;
}
.about-us__card {
  display: inline-block;
  width: 270px;
  margin-left: 30px;
  font-size: 14px;
}
.about-us__card-title {
  font-size: 14px;
  margin-top: 30px;
}
.about-us__card-txt {
  color: #757575;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.about-us__icon {
  background: #f5f4fa;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 4px;
}
