@media screen and (min-width: 1200px ) {
  // .container{
  //   flex-direction: row;
  //   background-color: black;
  // }
  // form{
  //   width: 358px;
  // }
  @media screen and (min-width:1200px){
    .team__card{
        display: flex;
        flex-direction: column;
        margin: 18px;
        width: 22%;
        margin-top: 30px;
    }
}

  .header-containter{
      display: none;
    }
    .body {
      overflow: hidden;
      
      
    }
    img {
      width: 100%;
      max-width: 480px;
      height: 260px;
    }
     .button-position-newsletter {
      margin-left: 12px;
      margin-top: 40px;
      padding-top: 1%;
      padding-bottom: 2%;
      padding-left: 2%;
      padding-right: 2%;
      width: 50%;
      height: 50px;
    
    } 
    .close-btn{
      margin-top: 5px;
      margin-left: 85%;
      border: none;
      background-color: #ffffff;
      width: 20px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 0;
    }
    .projects {
      flex-direction: row;
     justify-content: center;
    align-items: center;
    flex-wrap: wrap;
      
    }
    .project {
      width: 29%;
     margin:9px;
      
    }
    .card__ul{
      margin: 0%;
      height: 100px;
    }
  
    .filt {
      margin: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 3%;
      padding-right: 3%;
     
      text-align: center;
    }
    .filters{
      width: 100%;
      justify-content: center;
    }
    .container {
      width: 100%;
      justify-content: center;
      
      flex-direction: column;
    }
    .logo--position-footer {
    
      
    }
    .logo{
        margin-left: 0;
        justify-content: center;
    }
    .JoinUs__title {
      margin: 20px;
      color: white;
      text-align: start;
      font-size: 14px;
     margin-bottom: 20px;
    }
   
      .JoinUs {
    margin: auto;
    margin-top: 72px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 0px;
  }

    
    .newsletter {
      width: 45%;
      
      margin-top: 14px;
      text-align: start;
      display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
    }
  
    .newsletter__input {
      color: #ffffff;
      width: 100%;
      margin-top: 18px;
    } 
    .footer {
      width: 100%;
      height: 265px;
    }
    .card {
      width: 100%;
    }
    .add-card {
      width: 100%;
    }
    header {
      border-bottom: 1px solid #eeeeee;
    }
    .header-help-container{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .link-activ{
        display: none;
    }
  
    .modal {
      width: 100%;
      height: 600px;
      background: #ffffff;
      margin: auto;
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate3d(0, 0, 0);
      
      
      padding: 0%;
      font-size: 24px;
      display: flex;
      flex-direction: column;
     
    }
    
    .close-btn{
     top: 0;
     right: 10px;
      border: none;
      background-color: #ffffff;
      width: 20px;
      height: 15px;
      position: absolute;
    }
    .nav{
      display: inline-flex;
      flex-direction: row;
      line-height: 47px;
      padding-top: 32px;
      font-size: 30px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      width: 43%;
      margin: auto;
      
    }
    .nav__link:focus{
      color: #2196f3;
    }
    .nav__link{
    margin: 10px;
      font-size: 14px;
    }
    .contact{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: auto;
      font-size: 14px;
    }
    
    .contact__link{
      color: #2196f3;
      font-weight: 500;
      letter-spacing: 0.09em;
    }
    .contact__link--modal{
      color: #757575;
      font-size: 17px;
    }
    .contact__txt{
        margin: auto;
        margin-right: 10px;
        padding: 5px;
        font-size: 12px;
        color: #757575;
    }
    .contact__icon-envelope{
        width: 14px;
        height: 10px;
        margin-left: -92px;
        margin-top: 7px;
    }
    .contact__icon-smartphone{
      font-size: 10px;
      width: 14px;
      height: 15px;
      margin-left: -70px;
  margin-top: 4px;
    }
   
  .nav__span{
    margin-bottom: 5%;
  }
  
    .modal-social{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    
      
    }
    .modal-social__link{
      padding: 8px;
      font-size: 17px;
      border-right: 0.1px solid #e7e7e7 ;
      color: #2196f3;
      font-weight: 500;
      margin-top: 5px;
  
    }
    .border-none{
      border: none;
    }
    /********************** INDEX **********************/
    .banner{
      height: 600px;
      width: 100%;
      max-width: 1600px;
 
    }
    .banner__txt{
      margin: auto;
      font-size: 44px;
    }
    h1{
      margin: 0;
      
    }
    
    .services{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        
    }
    .services__title{
      margin-bottom: 50px;
      margin-top: 94px;

    }
   .services__card1{
    
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    width: 371px;
    height: 294px;
    margin: 18px;
   }
   .services__card2{
    
    background-image: url("../images/2.jpg");
    width: 371px;
    height: 294px;
    background-repeat: no-repeat;
    margin: 18px;
   }
   .services__card3{
    
    background-image: url("../images/3.jpg");
    width: 371px;
    height: 294px;
    background-repeat: no-repeat;
    margin: 18px;
   }
  
    .about-us {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .about-us__card {
      width: 22%;
      margin: 17px;
      display: block;
    
      padding-top: 40px;
      text-align: start;
    }
    
    .about-us__icon{
      width: 100%;
    }
    .team{
      display: flex;
      flex-wrap: wrap;
      background-color: #F5F4FA;
      margin-top: 0;
      margin-bottom: 0;
     
      
    }
    .team__card{
      
     display: flex;
     flex-direction: column;
     margin: 15px;
     width: 22.5%;
      margin-bottom: 94px;
      margin-top: 0px;
    }
    .team__svg-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin:auto;
    }
    .team__card-container{
      max-width: 100%;
      
    }
    .team__title{
      background-color: #F5F4FA;
      margin: 0;
      width: 1200px;
      padding-bottom: 50px;
      padding-top: 94px;
    }
   
    .social-icon-link{
      margin: auto;
      margin-bottom: 30px;
      
    }
    .banner__button{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 16px;
      width: 200px;
      height: 50px;
    }
    
   
    .client__icon-link {
      margin: 15px;
    
    }
    .client__title{
      margin-bottom: 50px;
      margin-top: 94px;
    }
    .flex-row-container{
        display: flex;
        flex-direction: row;
    }
    .icon-SM{
        margin: auto;
    }
    .footer__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 25px;
    }
    .flex-row{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .margin--right{
      margin-right: 9px;
  }
    .add__card{
      
    }
    .address{
      align-items: flex-start;
      margin-left: 0;
    }
    .address__link{
      padding-top: 13px;
    }
  .modal2{
    margin-top: 5%;
    margin-left: 29.5%;

    width: 528px;
    height: 600px;
    position: fixed;
    
  }
  .backdrop{
    display: flex;
  }
  }