.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 100%;
  height: 50%;
 
  background: black;
  
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  padding: 40px;
}

.modal__h2 {
  text-align: center;
  font-size: 20px;
}

.modal__form {
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 40px;
}
.modal__button-position {
  margin-left: 29%;
  width: 41%;
}

.modal__icon-person {
  position: absolute;
  top: 138px;
  left: 44px;
  width: 21px;
  height: 3.8%;
}

.modal__icon-phone {
  position: absolute;
  top: 212px;
  left: 44px;
  width: 21px;
  height: 3.8%;
  fill: #000000;
}

.modal__icon-email {
  position: absolute;
  top: 287px;
  left: 44px;
  width: 21px;
  height: 3.8%;
}
#email {
  padding-left: 6%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 40px;
  &:focus {
    border: 1px solid #2196f3;
  }
}
#email:focus + .icon-modal-email {
  fill: #2196f3;
}
#firstname {
  padding-left: 6%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 40px;
  &:focus {
    border: 1px solid #2196f3;
  }
}

#firstname:focus + .icon-modal-person {
  fill: #2196f3;
}
#tel {
  padding-left: 6%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 40px;
}
.tel:focus {
  border: 1px solid #2196f3;
}

#tel:focus + .icon-modal-phone {
  fill: #2196f3;
}
.modal__comment {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:focus {
    border: 1px solid #2196f3;
  }
  &::placeholder {
    padding-left: 3px;
  }
}

.textarea {
  margin-top: 16px;
}

.modal__label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #757575;
  font-size: 12px;
}
.modal__reg {
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.close-btn {
  top: 7px;
  right: 5px;
  padding-top: 3px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
}
.close-btn__icon {
  margin-top: 1px;
}
.modal2 {
  width: 100%;
  height: 745px;
  background: #ffffff;
  margin: auto;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(0, 0, 0);
  padding: 0%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.reg {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.modal-form-policy-text {
  text-align: center;
}
.modal-form-policy-text::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  position: absolute;
  margin-top: 2px;
}
.modal-form-policy:checked + .modal-form-policy-text::before {
  border: none;
  background-image: url("../images/Svg/icon-check.svg");
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}